.places {
	font-size: 30px;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
}

.left-art {
	display: inline-block;
}

#middle {
	margin: auto;
}

h2 {
	font-size: 30px;
	margin-left: 20%;
}


.price_by_night {
	color: #FF5A5F;
	border: 5px solid #FF5A5F;
	border-radius: 50%;
	text-align: center;
	width: 100px;
	height: 100px;
	font-size: 30px;
	float: right;
	
	
}

.price_by_night p {
	position: relative;
	top: 20%;
	transform: translateY(-50%);
}

h2, .price_by_night {
	display: inline-block;
}

.pad-bot {
	padding-bottom: 50px;
}

.information div {
	display: inline-block;
	width: 100px;
	
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
}

.max_guest p, .number_rooms p, .number_bathrooms p {
	margin: 0;
}

.con {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
}

.amenity_list {
	list-style-type: none;
	width: 200px;
}

.amenity_list img {
	width: 30px;
	height: 25px;
}

.amenity_list p {
	padding-left: 20px;
}

.amenity_list img, .amenity_list p {
	display: inline-block;
}

ul {
	list-style-type: none;
}
