header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	top: 0;
	left: 0;
	margin-bottom: 30px;
}


header img {
	padding-left: 20px;
	vertical-align: 50%;
	float: left;
}
